<div id="accueil">
    <h1>Bienvue sur le site des Dev Web de l'AFPA </h1>
    <br>
    <ul id="modules">
        <li><a href="/CtrlBalades/demanderBalades">module Balades</a></li>
        <li><a href="/CtrlVelo/stations">module Velo</a></li>
        <li>module 3</li>
        <li><a href="/CtrlCafeConcert/cafesConcerts">module Café concert</a></li>
        <li>module 5</li>
    </ul>
</div>

<style>
    #accueil {
        height: 100vh;

        width: 100vw;
        margin-left: -25%;
        margin-top: -35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>