<div>
   

1. Informations générales<br>
Ce site web est édité par [Nom de l'entreprise], société [forme juridique] au capital de [montant] euros, immatriculée au registre du commerce et des sociétés [Ville] sous le numéro [numéro RCS], dont le siège social est situé au [adresse complète].
<br><br>
Le directeur de la publication est [Nom du directeur de la publication], en qualité de [fonction].
<br><br>
Le site web est hébergé par [Nom de l'hébergeur], société [forme juridique], dont le siège social est situé au [adresse complète].
<br><br>
2. Propriété intellectuelle<br>
L'ensemble des éléments constituant le site web (textes, graphismes, logos, images, etc.) ainsi que leur compilation sont la propriété exclusive de [Nom de l'entreprise] ou de ses partenaires. Toute reproduction, représentation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du site, sans l'autorisation préalable de [Nom de l'entreprise], est strictement interdite et constitue un délit de contrefaçon puni par la loi.
<br><br>
3. Données personnelles<br>
Les données à caractère personnel collectées sur le site web sont destinées à [Nom de l'entreprise], responsable du traitement. Elles sont utilisées dans le cadre de la gestion des demandes de renseignements et de l'envoi de newsletters.
<br><br>
Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification, d'opposition et de suppression des données qui vous concernent. Pour exercer ce droit, vous pouvez nous contacter à l'adresse suivante : [adresse électronique ou postale].
<br><br>
4. Cookies <br>
Le site web utilise des cookies, des témoins de connexion qui sont des fichiers texte placés sur votre ordinateur, pour permettre une meilleure expérience utilisateur. Vous pouvez modifier les paramètres de votre navigateur pour refuser les cookies, mais cela peut entraîner une diminution de la qualité de votre expérience de navigation sur le site.
<br>
5. Limitation de responsabilité<br>
[Nom de l'entreprise] ne peut être tenue responsable des dommages directs ou indirects résultant de l'utilisation du site web, notamment en cas d'interruption ou de non-disponibilité du site, de virus informatiques, d'erreurs ou d'inexactitudes dans les informations fournies sur le site.
<br><br>
6. Droit applicable et juridiction compétente<br>
Les présentes mentions légales sont soumises au droit français. Tout litige relatif à l'utilisation du site web sera porté devant les tribunaux compétents de [Ville].




    
</div>