<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./modules/pi/templates/accueil.css">
    <link rel="stylesheet" href="../modules/balades_a_paris/css/balade.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="../modules/balades_a_paris/js/baladeAjax.js"></script>
    <script src="../modules/balades_a_paris/js/balades.js"></script>
</head>

<body>
    <?php include "templates/nav.html" ?>
    <div class="container">
        <div class="row">
        </div>
                <?php include $partial ?>
            </div>
        </div>
    </div>

    <footer style="display:flex; align-self: flex-end; margin-top: 6%;margin-left: 2%;width:90%">
        <a class='accueil_footer' href="/CtrlPi/mentionLegale">mentions Legales</a>
    </footer>

</body>


</html>