<div class="container">
    <h2>Nouvel Article</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-lg-offset-1">
            <form action="/CtrlArticles/saveNewArticle" method="post" id="formulaire">
                <div class="form-group">
                    <label class="control-label" for="status">Statut</label>
                    <select class="form-control" name="status" id="status">
                        <option selected value="0">Offline</option>
                        <option value="1">Online</option>
                </div>
                <div class="form-group">
                    <label class="control-label" for="url">URL</label>
                    <input type="text" class="form-control" placeholder="Entrez l'URL" name="url" id="url">
                </div>
                <div class="form-group">
                    <label class="control-label" for="titre">Titre</label>
                    <input type="text" class="form-control" placeholder="Entrez votre titre" name="titre" id="titre">
                </div>
                <div class="form-group">
                    <label class="control-label" for="contenu">Contenu</label>
                    <textarea class="form-control" placeholder="Entrez votre contenu" name="contenu" id="contenu"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="auteur">Auteur</label>
                    <input type="text" class="form-control" placeholder="auteur" name="auteur" id="auteur">
                </div>
                <div class="form-group">
                    <label class="control-label" for="date">Date</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="reset">Annuler</button>
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>