<?php
$url = "/CtrlArticles/saveNewArticle";
if (isset($articles)) {
    $url = "/CtrlArticles/saveEditArticle/{$articles[0]['id']}";
}
?>
<div class="container">
    <h2><?= (isset($articles)) ? "Modifier Article" : "Nouvel Article" ?></h2>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-lg-offset-1">
            <form action="<?= $url ?>" method="post" id="formulaire">
                <div class="form-group">
                    <label class="control-label" for="status">Statut</label>
                    <select class="form-control" name="status" id="status">
                        <option value=0 <?= isset($articles) && $articles[0]['status'] == 1 ? '' : 'selected' ?>>Offline</option>
                        <option value=1 <?= isset($articles) && $articles[0]['status'] == 1 ? 'selected' : '' ?>>Online</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="slug">URL</label>
                    <input required maxlength="25" pattern="^[a-zA-Z0-9_-]+$" value="<?= (isset($articles)) ? $articles[0]['slug'] : '' ?>" type="text" class="form-control" placeholder="Entrez l'URL" name="slug" id="slug">
                </div>
                <div class="form-group">
                    <label class="control-label" for="titre">Titre</label>
                    <input required maxlength="50" value="<?= (isset($articles)) ? $articles[0]['titre'] : '' ?>" type="text" class="form-control" placeholder="Entrez votre titre" name="titre" id="titre">
                </div>
                <div class="form-group">
                    <label class="control-label" for="contenu">Contenu</label>
                    <textarea  maxlength="2000" class="form-control" placeholder="Entrez votre contenu" name="contenu"
                        id="contenu"><?= (isset($articles)) ? $articles[0]['contenu'] : '' ?></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="auteur">Auteur</label>
                    <input maxlength="50" value="<?= (isset($articles)) ? $articles[0]['auteur'] : '' ?>" type="text" class="form-control" placeholder="auteur" name="auteur" id="auteur">
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="reset">Annuler</button>
                    <button class="btn btn-success" type="submit"><?= (isset($articles)) ? 'Modifier' : 'Enregistrer' ?></button>
                </div>
            </form>
        </div>
    </div>
</div>