<!-- <link rel="stylesheet" href="../modules/articles/css/indexArticles.css"> -->

<style>
    #containerArticle {
        display: flex;
        width: 100%;
    }

    #containerArticle #sideContainerArticle {
        margin-left: -5%;
        margin-right: 10%;
        max-width: 150px;
    }

    #containerArticle #sideContainerArticle .index a {
        margin-bottom: 5px;
        width: 100%;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #containerArticle #mainContainerArticle {
        width: 100vw;
        overflow: visible;
        border-radius: 50px;
        border: 2px solid black;
        padding-bottom: 20px;
    }

    #containerArticle #mainContainerArticle h1 {
        text-align: center;
    }

    #containerArticle #mainContainerArticle #text {
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }

    #containerArticle #mainContainerArticle #autor {
        margin-right: 5%;
        text-align: right;
    }
</style>

<div id="containerArticle">

    <div id="sideContainerArticle">
        <div class="index">
            <?php foreach($articles as $article) : ?>
            <?php if($article['status'] == 1) : ?>
            <a title="<?= $article['titre'] ?>" class="btn btn-info btn-xs"
                href="/CtrlArticles/selectedArticle/<?= $article['slug'] ?>">
                <?= $article['titre'] ?>
            </a>
            <?php endif ?>
            <?php endforeach ?>
        </div>
    </div>

    <div id="mainContainerArticle">
        <h1>
            <?= (isset($thisArticle)) ? $thisArticle[0]['titre'] : '' ?>
        </h1>
        <br>
        <div id="text">
            <?= (isset($thisArticle)) ? $thisArticle[0]['contenu'] : '' ?>
        </div>
        <br>
        <div id="autor">
            <?= (isset($thisArticle)) ? $thisArticle[0]['dateCreation'] : '' ?>
            <?= (isset($thisArticle)) ? $thisArticle[0]['auteur'] : '' ?>
        </div>
    </div>

</div>