<h2><?=  $text ?></h2>
<table class="table table-bordered">
    <tr>
        <th>Statut</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    <?php foreach($articles as $article) : ?>
    <tr>
        <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="<?= $article['status'] == 0 ? 'red' : 'green' ?>"
                 viewBox="0 0 16 16" >
                <circle cx="8" cy="8" r="8" />
            </svg>
        </td>
        <td>
            <?= $article['titre'] ?>
        </td>
        <td>
            <?= $article['auteur'] ?>
        </td>
        <td>
            <?= $article['dateCreation'] ?>
        </td>
        <td><a title="Editer" class="btn btn-info btn-xs" href="/CtrlArticles/editArticle/<?= $article['slug'] ?>"><span
                    class="glyphicon glyphicon-pencil"></span></a></td>
        <td><a title="Supprimer" class="btn btn-danger btn-xs"
                href="/CtrlArticles/removeArticle/<?= $article['id'] ?>"><span
                    class="glyphicon glyphicon-trash"></span></a></td>
    </tr>

    <?php endforeach ?>
</table>