<div class="container">
    <h2>Créer un compte</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-lg-offset-1">
            <form action="/CtrlUser/saveUserAdmin" method="post">
                <div class="form-group">
                    <label class="control-label" for="login">pseudo</label>
                    <input type="text" class="form-control" placeholder="entrez votre pseudo" name="pseudo" id="pseudo">
                </div>

                <div class="form-group">
                    <label class="control-label" for="login">login</label>
                    <input type="text" class="form-control" placeholder="entrez votre login" name="login" id="login">
                </div>
                <div class="form-group">
                    <label class="control-label" for="pass">pass</label>
                    <input type="password" class="form-control" placeholder="entrez votre mot de passe" name="pass"
                        id="pass">
                </div>
                <div class="form-group">
                    <label for="droit">droits d'utilisateur</label>
                    <select name="droit" id="droit">
                        <option selected="selected" value="user">user</option>
                        <option value="admin">admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>