<!-- menu dropdown pour simuler un menu modules et accéder à la page presentationBalade.html -->
<ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/CtrlBalades/demanderBalades">Balades à Paris</a></li>
        <li><a href="#">Module 2</a></li>
        <li><a href="#">Module 3</a></li>
        <li><a href="#">Module 4</a></li>
        <li><a href="#">Module 5</a></li>
        <li><a href="#">Module 6</a></li>
      </ul>
    </li>
  </ul>