<link rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    crossorigin=""></script>
<link rel="stylesheet" href="../modules/balades_a_paris/css/balade.css">
<script src="../modules/balade_a_paris/js/baladeAjax.js"></script>
<script src="../modules/balade_a_paris/js/balades.js"></script>
<!-- div pour contenir la carte leaflet et une div avec une classe pour l'englober 
    et appliquer le css sans surcharger les autres div des autres templates -->
<div class="carte_balade">

    <div id="map"></div>
</div>
